In [9]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

gdp_df = pd.read_csv('data\gdp_percapita.csv')

In [10]:
gdp_df

,Country or Area,Year,Value,Value Footnotes
0,Afghanistan,2018,2190.240321,NaN
1,Afghanistan,2017,2202.570851,NaN
2,Afghanistan,2016,2200.764487,NaN
3,Afghanistan,2015,2212.750899,NaN
4,Afghanistan,2014,2249.253738,NaN
...,...,...,...,...
6603,Zimbabwe,1992,3054.889178,NaN
6604,Zimbabwe,1991,3426.598094,NaN
6605,Zimbabwe,1990,3324.348171,NaN
6606,footnoteSeqID,Footnote,NaN,NaN
6607,2,"Excludes South Sudan after July 9, 2011.",NaN,NaN

In [ ]:
6. Repeat for the internet use dataset. Call this DataFrame internet_df. Take a look at the first six rows.

In [12]:
internet_df = pd.read_csv('data\internet_use.csv')
internet_df

,Country or Area,Year,Value,Value Footnotes
0,Afghanistan,2014,6.39,NaN
1,Afghanistan,2013,5.9,NaN
2,Afghanistan,2012,5.45454545454545,NaN
3,Afghanistan,2011,5,NaN
4,Afghanistan,2010,4,NaN
...,...,...,...,...
4671,176,NTIA/CPS survey.,NaN,NaN
4672,177,"Pew Internet Project, Internet",Broadband and cell phone statistics,” January 5 2010 http://www.pewinternet.org/~/...
4673,178,Estimated based on Survey's results. Populatio...,NaN,NaN
4674,179,Preliminary. Country estimate.,NaN,NaN
4675,180,The methodology used to estimated the figure f...,NaN,NaN

I ran into lots of issues because of how I tried to deal with the tokenization error.  My method for dealing with it led me to eliminating all of the columns...which I didn't realize would be an issue until I got to #10.  luckily went to a breakout room with Richie who set me straight. :)

also, I opened a new notebook when I began BEFORE i downloaded the data...I was following along when Rachel volunteered. This forcecd me to have a super long directory path in my read_csv().  I went back and redid it so it was neater...took me a while to copy and paste everything which is why I only got to number 12 today(SAT april 3).

5. Using the pandas read_csv() method, read the GDP dataset into your notebook as a DataFrame called gdp_df. Take a look at the first 6 rows.

In [25]:
gdp_df.head(6)

  Country or Area  Year        Value  Value Footnotes
0     Afghanistan  2018  2190.240321              NaN
1     Afghanistan  2017  2202.570851              NaN
2     Afghanistan  2016  2200.764487              NaN
3     Afghanistan  2015  2212.750899              NaN
4     Afghanistan  2014  2249.253738              NaN
5     Afghanistan  2013  2264.317575              NaN

In [ ]:
6. Repeat for the internet use dataset. Call this DataFrame internet_df. Take a look at the first six rows.

In [24]:
internet_df.head(6)

  Country or Area  Year             Value Value Footnotes
0     Afghanistan  2014              6.39             NaN
1     Afghanistan  2013               5.9             NaN
2     Afghanistan  2012  5.45454545454545             NaN
3     Afghanistan  2011                 5             NaN
4     Afghanistan  2010                 4             NaN
5     Afghanistan  2009              3.55             NaN

7. Look at the shape of each DataFrame - how many rows? How many columns?

In [15]:
print(gdp_df.shape)
print(internet_df.shape)

(6608, 4)
(4676, 4)

8. Take a look at the datatypes for the columns in each DataFrame.

In [23]:
gdp_df.dtypes

Country or Area     object
Year                object
Value              float64
Value Footnotes    float64
dtype: object

In [22]:
internet_df.dtypes

Country or Area    object
Year               object
Value              object
Value Footnotes    object
dtype: object

9. Take a look at the last 10 rows of each DataFrame in turn.

In [21]:
gdp_df.tail(10)

,Country or Area,Year,Value,Value Footnotes
6598,Zimbabwe,1997,3580.048793,NaN
6599,Zimbabwe,1996,3520.430146,NaN
6600,Zimbabwe,1995,3226.413930,NaN
6601,Zimbabwe,1994,3263.934978,NaN
6602,Zimbabwe,1993,3033.504852,NaN
6603,Zimbabwe,1992,3054.889178,NaN
6604,Zimbabwe,1991,3426.598094,NaN
6605,Zimbabwe,1990,3324.348171,NaN
6606,footnoteSeqID,Footnote,NaN,NaN
6607,2,"Excludes South Sudan after July 9, 2011.",NaN,NaN

In [20]:
internet_df.tail(10)

,Country or Area,Year,Value,Value Footnotes
4666,171,Internet Dial-up customers.,NaN,NaN
4667,172,Population age 16+ using the Internet in the l...,NaN,NaN
4668,173,Population age 16+ using internet in the last ...,NaN,NaN
4669,174,"U.S. Census Bureau, Table 2. Reported Internet...",NaN,NaN
4670,175,Includes individuals 3 years and older,NaN,NaN
4671,176,NTIA/CPS survey.,NaN,NaN
4672,177,"Pew Internet Project, Internet",Broadband and cell phone statistics,” January 5 2010 http://www.pewinternet.org/~/...
4673,178,Estimated based on Survey's results. Populatio...,NaN,NaN
4674,179,Preliminary. Country estimate.,NaN,NaN
4675,180,The methodology used to estimated the figure f...,NaN,NaN

10. Drop the "value footnotes" column from both DataFrames. Check that this worked as expected.

In [26]:
gdp_df.drop('Value Footnotes',1)

     Country or Area                                      Year        Value
0        Afghanistan                                      2018  2190.240321
1        Afghanistan                                      2017  2202.570851
2        Afghanistan                                      2016  2200.764487
3        Afghanistan                                      2015  2212.750899
4        Afghanistan                                      2014  2249.253738
...              ...                                       ...          ...
6603        Zimbabwe                                      1992  3054.889178
6604        Zimbabwe                                      1991  3426.598094
6605        Zimbabwe                                      1990  3324.348171
6606   footnoteSeqID                                  Footnote          NaN
6607               2  Excludes South Sudan after July 9, 2011.          NaN

[6608 rows x 3 columns]

In [27]:
internet_df.drop('Value Footnotes', 1)

,Country or Area,Year,Value
0,Afghanistan,2014,6.39
1,Afghanistan,2013,5.9
2,Afghanistan,2012,5.45454545454545
3,Afghanistan,2011,5
4,Afghanistan,2010,4
...,...,...,...
4671,176,NTIA/CPS survey.,NaN
4672,177,"Pew Internet Project, Internet",Broadband and cell phone statistics
4673,178,Estimated based on Survey's results. Populatio...,NaN
4674,179,Preliminary. Country estimate.,NaN
4675,180,The methodology used to estimated the figure f...,NaN

11. Change the columns for the GDP Per Capita DataFrame to ‘Country’, ‘Year’, and ‘GDP_Per_Capita’.

In [30]:
gdp_df.rename(columns = {'Country or Area': 'Country', 'Year' : 'Year', 'Value': 'GDP_Per_Capita'}, inplace = False)

,Country,Year,GDP_Per_Capita,Value Footnotes
0,Afghanistan,2018,2190.240321,NaN
1,Afghanistan,2017,2202.570851,NaN
2,Afghanistan,2016,2200.764487,NaN
3,Afghanistan,2015,2212.750899,NaN
4,Afghanistan,2014,2249.253738,NaN
...,...,...,...,...
6603,Zimbabwe,1992,3054.889178,NaN
6604,Zimbabwe,1991,3426.598094,NaN
6605,Zimbabwe,1990,3324.348171,NaN
6606,footnoteSeqID,Footnote,NaN,NaN
6607,2,"Excludes South Sudan after July 9, 2011.",NaN,NaN

12. Change the columns for the Internet Users DataFrame to ‘Country’, ‘Year’, and ‘Internet_Users_Pct’.

In [31]:
internet_df.rename(columns = {'Country or Area': 'Country', 'Year' : 'Year', 'Value': 'Internet_Users_Pct'}, inplace = False)

,Country,Year,Internet_Users_Pct,Value Footnotes
0,Afghanistan,2014,6.39,NaN
1,Afghanistan,2013,5.9,NaN
2,Afghanistan,2012,5.45454545454545,NaN
3,Afghanistan,2011,5,NaN
4,Afghanistan,2010,4,NaN
...,...,...,...,...
4671,176,NTIA/CPS survey.,NaN,NaN
4672,177,"Pew Internet Project, Internet",Broadband and cell phone statistics,” January 5 2010 http://www.pewinternet.org/~/...
4673,178,Estimated based on Survey's results. Populatio...,NaN,NaN
4674,179,Preliminary. Country estimate.,NaN,NaN
4675,180,The methodology used to estimated the figure f...,NaN,NaN